@font-face { font-family: "EB Garamond"; src: url('./fonts/EB_Garamond/static/EBGaramond-SemiBold.ttf'); } 
@font-face { font-family: "roboto"; src: url('./Fonts/Roboto/Roboto-Regular.ttf'); } 

html{
    scroll-behavior: smooth;
}
body{
    transition: all 0.3s;
}
h1{
    font-size: calc(2em + 1.5vmin) !important;
}
h1,h2,h3,h4,h5{
    font-family: 'EB Garamond', serif;
}
p{
    font-family: "roboto";
}
/* logo */
.logo-custom{
    width: 200px;
}
/*first small header*/
.mini-header {
    background-color: transparent;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    color: white;
    border-bottom: 1px solid #e6e9ed;
}
.miniheader-email a{
    color: white;
}
.miniheader-email a{
    color: white;
}
.miniheader-email a:hover{
    color: #069eb6;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    width: 100%;
    display: block;
}

.social-icons li {
    display: inline-block;
    margin: 0 12px;
}
.header-contact {
    padding-left: 0;
}

.header-contact span:first-child {
    margin-right: 20px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li a {
    color: white;
    font-size: 14px;
}

.social-icons li a:hover,
.social-icons li a:active,
.social-icons li a:visited {
    color: white;
}

/*secon header*/
.main-header {
    height: 112px;
    color: white;
    padding: 36px 0;
    font-size: 15px;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: left;
    display: block;
}

.navbar-nav li {
    display: inline-block;
    margin: 0 10px;
}

.navbar-nav li:first-child {
    margin-left: 0;
}

.navbar-nav li:last-child {
    float: right;
    margin-right: 20px;
}

.navbar-nav li:first-child {
    margin-left: 0;
}

.navbar-nav li a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    transition: all 0.3s;
}
.navbar-nav li a:hover {
    color: #069eb6 !important;
}
.navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/*cover title*/

.cover {
    background: url('./images/cover-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    transition: all 0.8s;
    opacity: 0;
}
.bg-gray{
    background-color: rgb(53, 52, 52);
}


.mx-auto {
    margin: 0 auto;
}

.title-color h1 {
    padding-top: 100px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: bold;
}

.cover-dis {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.cover-btn {
    background-color: #00bc9c;
    padding: 14px 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}
.width-mc{
    width: max-content;
}
.Chat-btn{
    color: #fff !important;
    border:2px solid #04c2de !important;
}
.Chat-btn:hover{
    background-color:#04c2de !important;
}
.chat-large-btn{
    font-size: 18px !important;
    font-weight: 700 !important;
    letter-spacing: .1px !important;
    border-radius: 5px !important;
    padding: 24px 38px 27px 38px !important;
    color: #fff !important;
    background-color: #04c2de !important;
}
.chat-large-btn:hover{
    background-color: #069eb6 !important;
}
.d-flex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.bg-white{
    background-color: white;
}
.color-white{
    color: white !important;
}
.over-hidden{
    overflow: hidden;
}
.br10{
    border-radius: 10px !important;
}
.dropdown-menu a{
    color: rgb(143, 142, 142) !important;
}
.vert-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
/* second-sec */
.second-sec-btn{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .3px;
    background-color: #0e1017;
    border:1px solid black;
    color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 22px 33px 22px 33px;
}
.second-sec-btn:hover{
    border:1px solid #04c2de !important;
    background-color: #04c2de;
}

.second-sec h1{
    font-size: 50px;
    line-height: 1.2em;
}

/* 3rd sec */
.sub-box-title {
    font-size: 26px;
    color: black;
    margin-bottom: 15px;
}

.sub-box-disc {
    font-size: 16px;
    color: #73879c;
}
.third-sec{
    margin-top: 70px;
    margin-bottom: 60px;
}

/* 4th section */
.purple-color{
    color: #6e44c4;
}
.card_img{
    max-width: 36px;
    max-height: 36px;
}
.border-circle{
    border-radius: 50%;
    overflow: hidden;
}
.purple-border{
    border: #6e44c4 2px solid;
}
.p40{
    padding: 40px !important;
}
.card-text{
    font-size: 19px;
    line-height: 1.5em;
}
.w-100{
    width: 100%;
}

.personal-card h3{
    font-size: 25px ;
}
.quote-icon{
    background-color: #6e44c4;
    color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    
}
.quote-icon-div{
    position: relative;
    top: -25px;

}
.fourth-sec{
    background-color: #f3f4fa
}
/* fifth section */
.fifth-section{
    background-image: url('./images/cover-2.jpg');
    padding: 100px 0px;
    color: #fff;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fifth-section p{
    color: rgb(212, 204, 204);
}

/* 7th section */
.seventh-section{
    background-color: #f3f4fa;
    padding: 100px 0px;
}
.team-designation{
    color: #6e44c4;
    border-color: #6e44c4;
    margin-bottom: 6px;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.teams-social-icon a{
    font-size: 17px;
    line-height: 0;
    min-width: 0;
    min-height: 0;
    margin: 0 7px 7px 7px;
    color: #bfbfc5;
}

/* 8th section */
.eight-section{
    transition:all 0.3s;
    color: #fff;
    padding: 60px 0 60px 0;
    background-color: #12141d;
}
.eight-section a{
    color: white;
    text-decoration: none;
}
.eight-section a:hover{
    color: rgb(218, 214, 214);
    text-decoration: none;
}
.address-icon{
    background-color: transparent;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 2px solid white;
}
.address-icon:hover{
    color: #069eb6 !important;
    
    border: 2px solid #069eb6;
}

.dib{
    display: inline-block;
}
/* footer */
footer{
    background-color: #0b0c13;
    color: rgba(255, 255, 255, .71);
    transition:all 0.4;
}
footer h2{
    color: #04c2de;
}
.light-blue{
    color: #04c2de;
}
.text-underline{
    text-decoration: underline;
}
.hover-white:hover{
    color: white;
}
footer ul {
    padding-left: 0;
}
footer ul li {
    list-style:none
}
footer ul li a{
    color: white;
    text-decoration: none;
    transition:all 0.3s;
}
footer ul li a:hover{
    color: #04c2de;
    text-decoration: none;
}
/* contac */
.email-add a{
    color: black;
}
.email-add a:hover{
    color: #04c2de;
    text-decoration: none;
}
.vertically-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* about us */
.parallax {
    /* The image used */
    background-image: url("./images/about_us_image.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 10%,100% 0%,100% 90%,0 100%);
}
.about-us-div{
    padding:100px 15px !important;
}
.about-us-div button{
    background-color: transparent;
    color: white;
    border: none;
}
.about-us-div button:hover{
   color: #04c2de;
}
.about-us-div button:focus{
    outline: none;
}
.moreless-button{
    background-color: transparent;
    color: black;
    border: none;
    text-decoration: underline;
}
.moreless-button:hover{
    color: #04c2de;
 }
 .moreless-button:focus{
     outline: none;
 }
.about-us-div p{
    color: rgba(255, 255, 255, 0.747)!important    
}
.about-us-div h1{
    color: white;
    font-family: 'EB Garamond', serif;
}

.moretext {
    display: none;
}
.bar{
    border-bottom: 4px solid #04c2de;
    width: 50px;
    margin: auto;
}
/* pracice areas */
.practice-area{
    background-color: #f3f4fa;
}
.areas-box{
    display: block;
    height: 84px;
    background-color: white;
    color: gray;
    width: 100%;
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.areas-box:hover{
   background-color: #04c2de;
    text-decoration: none;
    color: white;
    transform: translateY(-5px);
}
.areas-top-set{
    height: 60px;
    margin-top: -100px;
    z-index: -19;
    /* top: 10px; */
    background-color: #f3f4fa;
}
.ai-center{
    align-items: center;
}
.jc-sb{
    justify-content: space-between;
}

/* services */
.service-sec{
    background-color: #333;
}
.service-sec a{
    text-decoration: none;
}
.service-sec a:hover{
    text-decoration: none;
}
.service-sec h2{
    color: white;
}
.service-box{
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    color: rgb(128, 117, 108);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .3s;
}
.service-box:hover{
    transform: translateY(-5px);

}
.service-logo{
    width: 70px;
    height: 70px;
}

/* service page */
.services-cover{
        background: url('./images/contact-us.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(66, 64, 64);
        min-height: 350px;
    
}

/* practice area page */
.practice-area-list{
    font-size: 14px;
}
.practice-area-list li{
    list-style: none;
    padding: 5px 10px; 
    padding-right: 0;
    border: 3px solid transparent;

}
.practice-area-list li:hover{
    border-left: 3px solid #069eb6;    
}
.practice-area-list li a{
    color: black;
}
.practice-area-list li a:hover,:active{
    color: #069eb6 ;
    text-decoration: none;
}
.practice-area-list-small{
    display: none !important;
}
.practice-area-list-large{
    display: block !important;
}
/* scroll top icon */
.scrollTop{
    padding: 10px;
    display: inline-block;
    background: gray;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    color: white;
    right: 20px;
    transition:all 0.5s; 
}
#scTop{
    display: none;
}
.max-w-190{
    max-width: 200px;
}

@media(max-width:1200px){
    .logo-custom{
        width: 140px !important;
    }
  
}
@media(max-width:992px){
    .nav-collapse-custom .dropdown-menu a{
        /* background-color: black !important; */
        white-space: normal !important;
    }
    .nav-collapse-custom .dropdown-menu {
        position: absolute !important;
    }
    .logo-custom{
        width: 190px !important;
    }
}

@media(max-width:1005px){
    .p40 {
        padding: 10px 10px !important;
    }
}
@media(max-width:768px){
    .practice-area-list-small{
        display: block !important;
    }
    .practice-area-list-large{
        display: none !important;
    }    
    .practice-area-list li{
        padding: 0 10px;
    }
    .practice-area-list li a{
        font-size: 12px ;
        
    }
    .areas-box{
        height: 60px;
        font-size: 15px;
    }
    .p40 {
        padding: 10px 20px !important;
    }
    .service-box{
        height: 150px;
    }
    .service-logo {
        width: 60px;
        height: 60px;
    }
    .text-center-sm{
        text-align: center;
    }
    .blog-box {
        padding:0px !important;
        padding-top: 5px !important;
    }
    .blog-box p{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .blog-box h3{
       font-size: 24px;
    }
  
    .blog-box .show-3-line{
        overflow: hidden;
        /* text-overflow: ellipsis; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; 
    }
    .bl-blog-desc{
        border-left: transparent !important;
    }

}
   
@media(max-width:576px){
    .mini-header-icon-sm-remove{
        display: none;
    }
    .chat-large-btn{
        font-size: 15px !important;
        padding: 20px 20px 20px 20px !important;
    }
    h1{
        font-size: calc(1.6em + 1.5vmin) !important;
    }
    .title-color h1 {
        padding-top: 40px;
        
    }
    .private_qa {
       
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 32px !important;
       
    }
    .blog-pad-sm{
        padding-right: 5px !important;
        padding-left: 8px !important;
    }
}
i:hover{
    color: #069eb6 !important;
}

/* annimation */
#find-container{
    transform: translateX(100px);
    transition: all 0.9s;
    opacity: 0;
}
.find-container-animate{
    transform: translateX(0px) !important;
    opacity: 1 !important;
}
/* clip-path: polygon(0 10%,100% 0%,100% 100%,0 100%); for curve in div */
.bx-shadow{
    box-shadow: 0 16px 32px rgb(42 54 52/10%), 0 8px 16px rgb(42 54 52 / 10%);
}
/* blog */
.main_fordev {
    padding-top: 64px;
    padding-bottom: 64px;
    position: flex;
}
.main_fordev>h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    width: 90%;
    font-size: 2.4rem;
    margin-left: auto;
    margin-right: auto;
}
.mb24 {
    margin-bottom: 24px;
}
.orange_bar {
    display: block;
    width: 80px;
    height: 6px;
    margin: 0px auto;
    background: rgb(242, 114, 12);
}
.mb32 {
    margin-bottom: 32px;
}
.fordev_title {
    max-width: 40.5128rem;
    width: 90%;
    font-size: 1.30769rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px
}
.ppj {
    max-width: 81.025641rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.public_qa {
    flex-basis: 33.33333333%;
    max-width: 22.5rem;
    box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
    font-size: 1.15384615rem;
    margin-top: 64px;
    border-radius: 7px;
    min-width: 15rem;
    border-top: 5px solid black;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: space-between;

}
.p32 {
    padding: 32px;
}
.private_qa {
    flex-basis: 33.33333333%;
    max-width: 22.5rem;
    box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
    font-size: 1.15384615rem;
    border-radius: 7px;
    margin-left: 64px;
    margin-right: 64px;
    min-width: 15rem;
    margin-bottom: 50px;
    border-top: 5px solid #04c2de;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: space-between;
    font-family: "roboto";


    
}
.private_qa p{
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
}
.public_qa p{
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
}
.job_qa {
    flex-basis: 33.33333333%;
    max-width: 22.5rem;
    box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
    font-size: 1.15384615rem;
    margin-top: 64px;
    border-radius: 7px;
    min-width: 15rem;
    border-top: 5px solid black;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: space-between;

}
.job_qa p{
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
}
.public_qa:hover {
    box-shadow: 0 4px 8px 3px rgba(78, 81, 88, 0.2);
}
.private_qa:hover {
    box-shadow: 0 4px 8px 3px rgba(78, 81, 88, 0.2);
}
.job_qa:hover {
    box-shadow: 0 4px 8px 3px rgba(78, 81, 88, 0.2);
}
.mb16 {
    margin-bottom: 16px;
}
.ppj h4 {
    /* font-family: 'Roboto Slab', serif; */
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 16px;
}
.ppj p {
    font-size: 16px;
    /* font-family: 'roboto', sans-serif; */
} 
.bq {
    padding: 12px 24px;
    background-color: black;
    color: #FFF;
    border-radius: 3px;
    font-family: 'Roboto', serif;
    font-size: 16.5px;
    display: inline-block
}
.tff {
    padding: 12px 24px;
    background-color: #04c2de !important;
    color: #FFF;
    border-radius: 3px;
    font-family: 'Roboto', serif;
    font-size: 16.5px;
    display: inline-block
}
.fj {
    padding: 12px 24px;
    background-color: black;
    color: #FFF;
    border-radius: 3px;
    font-family: 'Roboto', serif;
    font-size: 16.5px;
    display: inline-block
}
.bq:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
.fj:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
.tff:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
@media(max-width: 890px) {
   
    
    .ppj {
        flex-wrap: wrap;
    }
   
    
    .public_qa {
        flex-basis: 316px;
        max-width: 316px;
        margin-bottom: 32px;
        margin-top: 0;
    }
    
    .private_qa {
        flex-basis: 316px;
        max-width: 316px;
        /* min-width: 316px; */
    }
    
    .job_qa {
        flex-basis: 316px;
        max-width: 316px;
        margin-top: 0;
    }
    
}
/* blog-page */
.fin-law-blog{
    border-bottom: 2px solid rgb(158, 156, 156);
}
.blog-page{
    background-color: #f3f4fa;
}
.blog-box{
    padding: 15px;
    background-color: white;
}
.blog-box h6{
  color: #ca8e22;
  font-weight: 800;
}
.show-3-line{
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}
.blog-date{
    color: gray;
}
.blog-date span{
    color: #04c2de;
    font-weight: 600;
}
.td-none{
    text-decoration: none;
    color: #212529;
}
.td-none:hover{
    text-decoration: none;
    color: #212529;
}
.blog-box-outer{
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    transition: all 0.3s;
    
}
.blog-box-outer:hover{
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%)
}
/* blog description page */
.blog-desc-title{
    border-left: 3px solid #000;
}
.blog-desc-date{
    color: rgb(158, 157, 157);
    border-top: 1px solid rgb(214, 213, 213);
    border-bottom: 1px solid rgb(214, 213, 213) ;
}
.blog-desc-date span{
    color: #04c2de;
    font-weight: 600;
}
.color-gray{
    color: gray;
}
.blog-desc-container a{
    color: black;
}
.blog-desc-container img{
    box-shadow: 0 16px 32px rgb(42 54 52 / 10%), 0 8px 16px rgb(42 54 52 / 10%);
}
.blog-desc-container a:hover{
    color: black;
}
.blog-desc-link{
    border-bottom: 1px solid  rgb(214, 213, 213);
}
.bg-lightgray{
    background-color: rgb(236, 232, 232);
}
.bl-blog-desc{
    border-left: 1px solid  rgb(214, 213, 213);
}
.nav-bg-color{
    background-color: #2d4142;
}